<h2>Castellers</h2>
<ul>
	<li ng-show="!listing.castellersList.length">No castellers to select</li>
	<li ng-repeat="casteller in listing.castellersList"><b>{{ casteller.name }}</b><span class="glyphicon glyphicon-remove pull-right" ng-click="listing.deleteCasteller(casteller.id)"></span></li>

	<form name="newCastellerForm" ng-controller="CreateCastellerController as createCastellerCtrl"
		ng-submit="createCastellerCtrl.addCasteller(listing)">
      <!--  Live Preview -->
	  <li ng-show="createCastellerCtrl.casteller.name">{{ createCastellerCtrl.casteller.name }}</li>

      <!--  Review Form -->
      <h4>Add a Casteller</h4>
      <fieldset class="form-group">
        <input required ng-model="createCastellerCtrl.casteller.name" type="text" class="form-control" placeholder="Full name" title="Full name"></input>
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="New Casteller" />
      </fieldset>
    </form>
</ul>